/* Write your CSS here */
.Item {
  list-style-type: none;
  font-size: 20px;
  font-family: Roboto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arrowImage {
  height: 25px;
  cursor: pointer;
  outline: none;
}
